.flex-col li,
nav,
ul {
    display: flex;
}


.max-w,
li a {
    color: var(--white-color)
}

.navbar {
    position: relative;
}

section {
    margin-top: calc(var(--big-distance-height)/1.2);
}

.card,
.container-card,
.on-off {
    position: relative
}

.block-buttons a,
.container-card a,
li a {
    text-decoration: none
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --small-distance-width: 1.313rem;
    --small-distance-height: 1.563rem;
    --border-radius: 12px;
    --big-distance-width: 1.313rem;
    --big-distance-height: 3.125rem;
    --header-fontsize: .9375rem;
    --h1-fontsize: 1remfh
}

body.dark {
    --background-color: #09090b;
    --selected-page: #f4f5f7;
    --white-color: #f4f5f7;
    --gray-color: #cbcdd6;
    --border-color: #FFFFFF21;
    --title-color: #f4f5f7; 
    --svg-color-button: #383941;
    --yellow-color: #f2ff0d;
    --rounded-language-bgColor: #394c5c60;

    --hover-button: #e2e3e6;
}

body.white {
    --background-color: #efefef;
    --selected-page: #efefef;
    --white-color: #292929;
    --gray-color: #55504C;
    --border-color: #10101021;
    --title-color: #292929;
    --svg-color-button: #efefef;
    --yellow-color: #d2dd04;
    --rounded-language-bgColor: #394c5c;

    --hover-button: #3d3d3d;
}

body {
    background-color: var(--background-color);
    color: var(--white-color);
    transition: background-color 0.5s ease;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vw;
    background: var(--background-color);
    transform: scaleX(0);
    transform-origin: left top;
    transition: transform 0.5s ease;
    z-index: -1;
    overflow: hidden;
}

body.animating::before {
    transform: scaleX(1);
}

html {
    height: 100dvh;
    width: 100%;
    background-color: var(--background-color);
    font-family: Manrope, sans-serif
}

h1 {
    font-size: var(--h1-fontsize)
}

header {
    display: none;
    border-bottom: 1px solid var(--border-color);
    font-size: var(--header-fontsize);
}

p {
    font-size: var(--header-fontsize);
}

nav {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

ul {
    list-style-type: none
}

svg {
    stroke: var(--white-color);
}

.name-image {
    font-size: 1.25rem;
}

.flex-col li {
    margin-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center
}

.flex-col li:hover,
.hamburguer.active {
    background-color: #27272a
}

.max-w {
    max-width: 50rem;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
}


.block-buttons a {
    font-size: var(--header-fontsize);
}


.block-buttons a:nth-child(2),
.block-text {
    margin-left: var(--small-distance-width)
}


.brand-image {
    overflow: hidden;
    cursor: pointer;
    transition: transform 1.5s
}

main {
    padding-top: var(--big-distance-height);
    height: 100dvh;
}

.block-buttons,
.block-content,
.coding {
    display: flex;
    align-items: center
}

.block-buttons a,
.socials {
    display: flex;
    align-items: center;
    transition: transform .5s;
    cursor: pointer
}

footer .socials svg {
    --side-length: 1.1875rem;
    width: var(--side-length);
    height: var(--side-length);
}

.block-content img.image-adriel {
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    --side-length: 8rem;
    width: var(--side-length);
    height: var(--side-length);
    object-fit: cover;
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in;
    transform: translateZ(0);
}

.block-content img.image-adriel:hover {
    cursor: pointer;
    border-radius: 10% 50% 10% 50% / 50% 10% 50% 10%;
    transform: scale(1.05);
}

.block-text p {
    margin: 0;
    padding: 0;
    line-height: 25px
}

.news h1,
li.dropdown-li {
    margin-bottom: var(--small-distance-height)
}

.block-text p:nth-child(2),
.min-about p,
p.description-dropdown {
    color: var(--gray-color)
}

.block-buttons #social-svg {
    --side-length: 1.125rem;
    width: var(--side-length);
    height: var(--side-length);
    margin-left: 5px;
    stroke: var(--svg-color-button);
}

.block-buttons svg#link-contact {
    --side-length: .9375rem;
    width: var(--side-length);
    height: var(--side-length);
}


.block-buttons #link-contact {
    --margin-left: .5rem;
    margin-left: var(--margin-left) !important;
}

.block-buttons a {
    margin-top: var(--small-distance-height);
    padding: .5rem .7rem .5rem .7rem;
    border-radius: var(--border-radius);
    border: 0;
    min-width: 12.8125rem;
    min-height: 1.2rem;
}

.hamburguer {
    border: var(--border-color);
}

.block-buttons .social-tag {
    background-color: var(--white-color);
    color: var(--background-color)
}

.block-buttons a:first-child:hover {
    background-color: var(--hover-button);
}

.block-buttons a:nth-child(2):hover,
.container-card:hover p,
footer .socials .email:hover,
footer .socials .github:hover,
footer .socials .instagram:hover,
footer .socials .linkedin:hover {
    transform: scale(1.03);
}

.block-buttons .contact-tag {
    border: .0625rem solid var(--border-color);
    background-color: transparent;
    color: var(--white-color)
}

.min-about {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding-top: var(--small-distance-height);
    padding-left: var(--small-distance-width);
    padding-right: var(--small-distance-width);
    padding-bottom: var(--small-distance-height)
}

.socials,
li.nav-menubar-session.active:nth-child(7) {
    margin-top: var(--small-distance-height)
}

.card .container-card img {
    width: 16rem;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    transition: transform .5s
}

.card .container-card img:hover {
    cursor: pointer;
    transform: scale(1.05);
    object-fit: contain
}

.container-card a {
    color: #fff
}

.container-card p:nth-child(2) {
    left: var(--small-distance-width);
    bottom: var(--small-distance-height);
    position: absolute;
    cursor: pointer
}

.socials div {
    margin-right: .9375rem
}

footer .copyright {
    margin-top: calc(var(--small-distance-height)/2);
    color: var(--gray-color)
}

footer img {
    --side-length: 1.25rem;
    width: var(--side-length);
    height: var(--side-length);
}


.title {
    color: var(--title-color);
}

.h1-about {
    margin-bottom: calc(var(--small-distance-height)/4)
}

.hamburguer {
    display: none;
    cursor: pointer;
    padding: .625rem;
    border-radius: 6px
}

.bar,
.nav-menu li.nav-menubar.active,
li.nav-menubar-session.active {
    display: flex
}

.cover-background-hamburguer {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: .1875rem;
}

.change-theme {
    margin-right: .625rem;
    border: 1px solid var(--border-color);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: .1875rem;
}

.change-theme svg {
    margin: 0 !important;
    --side-length: 1rem;
    width: var(--side-length) !important;
    height: var(--side-length) !important;
}

.justify-center {
    justify-content: center;
}

.bar {
    width: .8125rem;
    height: .125rem;
    margin: .125rem auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-color: var(--white-color);
    z-index: 23;
}

li.nav-menubar-session {
    display: none;
    overflow: visible;
    font-size: .75rem;
    font-weight: 600
}

body.no-scroll {
    overflow: hidden;
    height: 100%;
    position: fixed
}

main.blur-main {
    filter: blur(3px)
}

.nav-menu svg {
    --side-length: 1rem;
    height: var(--side-length);
    width: var(--side-length)
}

.nav-menu li.nav-menubar {
    display: none;
    align-items: center;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    height: 2.25rem;
    width: 100%;
}

.home,
.projetos,
.tecnologias {
    background-color: #27272a;
}

.home a,
.projetos a,
.tecnologias a {
    color: var(--selected-page);
}

.home svg,
.projetos svg,
.tecnologias svg {
    stroke: var(--selected-page);
}

.dropdown-div,
.dropdown-ul {
    display: inline-flex;
    flex-direction: column;
}

.nav-menu li {
    width: fit-content;
    height: fit-content;
    padding: 10px
}

li.nav-item:first-child img {
    margin-left: .2rem
}

.dropdown-div {
    position: absolute;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    top: 80px;
    background-color: #000;
    width: 18.75rem;
    height: fit-content;
    padding: var(--small-distance-width);
    transition: visibility .2s ease-in, opacity .2s ease-in;
    visibility: hidden;
    opacity: 0;
    z-index: 23
}

.dropdown-div.active {
    visibility: visible;
    opacity: 1
}

li.dropdown-li {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    margin-left: 0
}

.dropdown-li:last-child {
    margin-bottom: 0
}

.btn-click {
    display: inline-flex;
    cursor: pointer;
    padding: 0;
    min-width: 1em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    outline: 0;
    will-change: transform;
}

.btn-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    will-change: transform;
}

.btn-click:hover .code-by {
    transform: translate(-63px, 0.6px) !important;
}

.btn-click:hover .adriel {
    transform: translate(-60px, 0.6px) !important;
}

.btn-click:hover .credit {
    transform: rotate(360deg);
}

.cbd {
    position: relative;
    overflow: hidden;
}

.credit {
    padding-right: .3em;
    transition: transform 0.5s ease-in-out;
}

.adriel {
    position: relative;
    display: inline-block;
    padding-left: .05em;
}

.code-by {
    position: relative;
    display: inline-block;
}

.adriel,
.code-by {
    transition: transform 0.3s ease-in-out;
}

.oliveira {
    position: absolute;
    inset: 0;
    opacity: 1;
    transform: translateX(2.95em);
    white-space: nowrap;
}


#search {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: transparent;
    height: 2.25rem;
    padding-left: 1rem;
    color: white;
    margin: 15px 0 15px 0
}

.pinned svg.pin {
    fill: var(--white-color);
    --side-length: .875rem;
    width: var(--side-length);
    height: var(--side-length);
}

.language-pinned {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.eclipse-language {
    --side-length: .625rem;
    width: var(--side-length);
    height: var(--side-length);
    border-radius: 50%;
}

.eclipse-language.javascript {
    background-color: var(--yellow-color);
}

.eclipse-language.css {
    background-color: #563D7C;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    --side-length: 1rem;
    width: var(--side-length);
    height: var(--side-length);
}

.star img {
    width: 100%;
    height: auto;
}

.container-pinned {
    display: flex;
    gap: var(--small-distance-width);
    flex-wrap: wrap;
}

.box-pinned {
    border: 1px solid var(--border-color);
    padding-top: var(--small-distance-height);
    padding-left: var(--small-distance-width);
    padding-right: var(--small-distance-width);
    padding-bottom: var(--small-distance-height);
    border-radius: 12px;
    flex-grow: 1;
    flex-basis: 280px;
}


.title-privacy {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--small-distance-height) / 4);
}

.privacy {
    border: 1px solid var(--border-color);
    color: #B7BDC8;
    border-radius: 20px;
    width: fit-content;
    width: 2.5rem;
    height: .9375rem;
    padding: .125rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: .5rem;
}

.privacy p {
    font-size: .75rem;
}

.container-pinned .title-pinned {
    color: #74B9FF;
    text-decoration: none;
    font-size: 1rem;
}

.container-pinned .title-pinned:hover {
    text-decoration: underline;
}

.description-pinned {
    margin-bottom: calc(var(--small-distance-height) / 4);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    min-height: 3.75rem;
    font-size: .875rem;
}

.description-pinned,
.name-language-pinned {
    color: var(--gray-color);
}

.eclipse-language {
    margin-right: .25rem;
}

.star {
    margin-left: .5rem;
    cursor: pointer;
}

.curtidas {
    background: url("assets/star.svg") no-repeat center;
    background-size: contain;
    border: none;
    --side-length: 1rem;
    width: var(--side-length);
    height: var(--side-length);
    cursor: pointer;
    display: inline-block;
    padding: 0;
}

.cont-curtidas {
    margin-left: .25rem;
    font-size: .75rem;
    color: var(--gray-color);
}

aside {
    min-width: 18rem;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid var(--border-color);
}

aside ul li a {
    color: var(--white-color);
    font-size: .875rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

aside ul {
    display: flex;
    flex-direction: column;
    /* topo | direita | inferior | esquerda */
    margin: 2rem 1rem 0 1rem;
}

aside ul li {
    height: 2.25rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

aside ul li:hover {
    background-color: #27272a;
}

aside ul li:hover a {
    color: var(--selected-page);
}

aside ul li:hover svg {
    stroke: var(--selected-page);
}

aside svg {
    --side-length: .875rem;
    width: var(--side-length);
    height: var(--side-length);
    color: white;
    margin-right: .4375rem;
}

aside p {
    color: var(--white-color);
    font-size: .75rem;
}


/* Estado inicial (antes da animação) */
.hidden {
    opacity: 0;
    transform: translateX(-20px);
    will-change: opacity, transform;
}

/* Animação para opacity (sem delay) */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Animação para transform (com delay) */
@keyframes slide-in {
    0% {
        transform: translateX(-25px);
    }

    70% {
        transform: translateX(4px);
        /* Pequeno avanço */
    }

    100% {
        transform: translateX(0);
    }
}

/* Classes aplicadas */
.animate {
    animation: fade-in 0.8s ease forwards, slide-in 0.8s ease forwards;
}

/* toggle theme */
.theme-switch {
    height: fit-content;
    border-top: 1px solid var(--border-color);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.icon-theme {
    --side-length: 1.25rem;
    width: var(--side-length);
    height: var(--side-length);
}

.py-5 {
    padding-top: 1.25rem;
}

.py-2 {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-column {
    flex-direction: column;
}

.h-14 {
    height: 3.5rem;
}

.gap-2 {
    gap: .5rem;
}

.gap-3 {
    gap: .75rem;
}

.justify-between {
    justify-content: space-between;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.select-theme {
    cursor: pointer;
}


.moon-icon {
    display: none;
}

.moon-icon.active {
    display: block;
}

.sun-icon {
    display: none;
}

.sun-icon.active {
    display: block;
}

/* chevron */
.feather-chevron-up {
    display: block;
}

.feather-chevron-up.active {
    display: none;
}

.feather-chevron-down {
    display: none;
}

.feather-chevron-down.active {
    display: block;
}

@keyframes opacityIcon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animateOpacityIcon {
    animation: opacityIcon 0.4s ease forwards;
}

@keyframes verticalSlideIcon {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animateVerticalSlideIcon {
    animation: verticalSlideIcon 0.4s ease forwards;
}


.overflow-hidden {
    overflow: hidden;
}

.appear-icon-select {
    position: absolute;
    right: 20px;
    display: block;
    visibility: visible;
    opacity: 1;
    /* Começa visível */
    transition: opacity 0.2s ease, visibility 0s 0.2s;
    /* Transição suave para opacidade */
}

/* Estilos para os ícones invisíveis */
.hidden-icon-select {
    position: absolute;
    right: 20px;
    display: block;
    visibility: hidden;
    opacity: 0;
    /* Começa invisível */
    transition: opacity 0.2s ease, visibility 0s 0.2s;
    /* Transição suave para opacidade */
}

.select-themes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(6.25rem + 2.5rem);
    height: fit-content;
    gap: 1.125rem;
    padding: .25rem;
    background-color: var(--background-color);
    position: absolute;
    right: 20px;
    bottom: 50px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0s ease 0.4s;
}

.select-themes.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease, visibility 0s ease 0s;
}

.select-themes .theme-dark,
.select-themes .theme-white {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: .357rem;
    padding-bottom: .357rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.theme-white p,
.theme-white svg {
    stroke: var(--white-color);
    color: var(--white-color);
}

.theme-dark svg,
.theme-white svg {
    --side-length: 1.0625rem;
    width: var(--side-length);
    height: var(--side-length);
    margin-right: .9375rem;
    flex-shrink: 0;
}

.theme-white.selected-theme p, .theme-white.selected-theme svg {
    stroke: var(--selected-page);
    color: var(--selected-page);
}

.selected-theme {
    background-color: #27272a;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    left: 1px;
    transform: translateY(0);
    transition: background-color 0.5 ease;
}



@media(max-width:1489px) {
    .block-buttons {
        flex-flow: column
    }

    .block-buttons a {
        width: 100%;
        justify-content: center;
    }

    .block-buttons a:nth-child(2) {
        margin-left: 0
    }
    main { 
        margin-left: 18rem !important;
    }
}

/* 
@media (max-width: 1384px) {
    header {
        display: block !important;
    }
} */

@media(max-width: 1143px) {
    .card-projetos {
        justify-content: center !important;
    }
}

@media(max-width:768px) {
    main {
        margin-left: 0px !important;
    }
    aside {
        display: none !important;
    }

    header {
        display: block;
    }

    .flex-col ul.active,
    .hamburguer {
        display: block
    }

    .nav-menu li.nav-menubar {
        margin: 1.25rem 0 0 0px;
        overflow: visible;
        justify-content: flex-start !important;
        align-items: center;
    }

    .nav-menu li.nav-menubar svg {
        margin: 0 calc(var(--small-distance-width)/3) 0 0
    }

    li.nav-menubar-session {
        margin: 0;
        padding: 0 !important;
        color: var(--gray-color)
    }

    .nav-menubar-session:nth-child(8) {
        margin: 1.25rem 0 0
    }

    .nav-menu {
        position: absolute;
        inset: 0;
        overflow-y: scroll;
        min-height: 0;
        top: 6.4rem;
        flex-direction: column;
        background-color: var(--background-color);
        width: 100vw;
        /* Garante que o padding não expanda o width */
        transition: min-height .6s ease-in, visibility .6s ease-in;
        z-index: 3;
        padding: 1rem;
        visibility: hidden;
    }

    .nav-menu.active {
        min-height: 350px;
        visibility: visible
    }

    li.nav-item {
        display: none
    }


}