.flex-col li,
nav,
ul {
    display: flex;
}


.max-w,
li a {
    color: #fff
}

.navbar {
    position: relative;
}

section {
    margin-top: calc(var(--big-distance-height)/1.2);
}

.card,
.container-card,
.on-off {
    position: relative
}

.block-buttons a,
.container-card a,
li a {
    text-decoration: none
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --small-distance-width: 1.313rem;
    --small-distance-height: 1.563rem;
    --border-radius: 12px;
    --big-distance-width: 1.313rem;
    --big-distance-height: 3.125rem;
    --header-fontsize: .9375rem;
    --h1-fontsize: 1remfh
}

body.dark {
    --background-color: hsl(240 10% 3.9%);
    --selected-page: white;
    --white-color: #FAFAFA;
    --gray-color: #A5A2A2;
    --border-color: #FFFFFF21;
    --title-color: white;
    --svg-color-button: black;
    --yellow-color: yellow;
    --rounded-language-bgColor: #394c5c60;
}

body.white {
    --background-color: white;
    --selected-page: white;
    --white-color: black;
    --gray-color: #55504C;
    --border-color: #10101021;
    --title-color: black;
    --svg-color-button: white;
    --yellow-color: #c9c92a;
    --rounded-language-bgColor: #0f2126;
}

body {
    background-color: var(--background-color);
    color: var(--white-color);
}

html {
    height: 100dvh;
    width: 100%;
    background-color: var(--background-color);
    font-family: Manrope, sans-serif
}

h1 {
    font-size: var(--h1-fontsize)
}

header {
    display: none;
    border-bottom: 1px solid #fffFFF21;
    font-size: var(--header-fontsize);
}

p {
    font-size: var(--header-fontsize);
}

nav {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

ul {
    list-style-type: none
}

svg {
    stroke: var(--white-color);
}

.name-image {
    font-size: 20px;
}

.flex-col li {
    margin-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center
}

.flex-col li:hover,
.hamburguer.active {
    background-color: #27272a
}

.max-w {
    max-width: 50rem
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
}


.block-buttons a {
    font-size: var(--header-fontsize);
}


.block-buttons a:nth-child(2),
.block-text {
    margin-left: var(--small-distance-width)
}


.brand-image {
    overflow: hidden;
    cursor: pointer;
    transition: transform 1.5s
}

main {
    padding-top: var(--big-distance-height)
}

.block-buttons,
.block-content,
.coding {
    display: flex;
    align-items: center
}

.block-buttons a,
.socials {
    display: flex;
    align-items: center;
    transition: transform .5s;
    cursor: pointer
}

footer .socials svg{ 
    width: 19px;
    height: 19px;
}

.block-content img.image-adriel {
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in;
    transform: translateZ(0);
}

.block-content img.image-adriel:hover {
    cursor: pointer;
    border-radius: 10% 50% 10% 50% / 50% 10% 50% 10%;
    transform: scale(1.05);
}

.block-text p {
    margin: 0;
    padding: 0;
    line-height: 25px
}

.news h1,
li.dropdown-li {
    margin-bottom: var(--small-distance-height)
}

.block-text p:nth-child(2),
.min-about p,
p.description-dropdown {
    color: var(--gray-color)
}

.block-buttons #social-svg {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    stroke: var(--svg-color-button);
}

.block-buttons svg#link-contact {
    width: 15px;
    height: 15px;
}


.block-buttons #link-contact {
    margin-left: 8px !important;
}

.block-buttons a {
    margin-top: var(--small-distance-height);
    padding: .5rem .7rem .5rem .7rem;
    border-radius: var(--border-radius);
    border: 0;
    min-width: 12.8125rem;
    min-height: 1.2rem;
}

.hamburguer {
    border: var(--border-color);
}

.block-buttons .social-tag {
    background-color: var(--white-color);
    color: var(--background-color)
}

.block-buttons a:hover,
.container-card:hover p,
footer .socials .email:hover,
footer .socials .github:hover,
footer .socials .instagram:hover,
footer .socials .linkedin:hover {
    transform: scale(1.05);
}

.block-buttons .contact-tag {
    border: .0625rem solid var(--border-color);
    background-color: transparent;
    color: var(--white-color)
}

.min-about {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding-top: var(--small-distance-height);
    padding-left: var(--small-distance-width);
    padding-right: var(--small-distance-width);
    padding-bottom: var(--small-distance-height)
}

.socials,
li.nav-menubar-session.active:nth-child(7) {
    margin-top: var(--small-distance-height)
}

.card .container-card img {
    width: 16rem;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    transition: transform .5s
}

.card .container-card img:hover {
    cursor: pointer;
    transform: scale(1.05);
    object-fit: contain
}

.container-card a {
    color: #fff
}

.container-card p:nth-child(2) {
    left: var(--small-distance-width);
    bottom: var(--small-distance-height);
    position: absolute;
    cursor: pointer
}

.socials div {
    margin-right: 15px
}

footer .copyright {
    margin-top: calc(var(--small-distance-height)/2);
    color: var(--gray-color)
}

footer img {
    width: 20px;
    height: 20px;
}


.title {
    color: var(--title-color);
}
.h1-about {
    margin-bottom: calc(var(--small-distance-height)/4)
}

.hamburguer {
    display: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px
}

.bar,
.nav-menu li.nav-menubar.active,
li.nav-menubar-session.active {
    display: flex
}

.bar {
    width: 13px;
    height: 2px;
    margin: 2px auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-color: #fff;
    z-index: 23
}

li.nav-menubar-session {
    display: none;
    overflow: visible;
    font-size: .75rem;
    font-weight: 600
}

body.no-scroll {
    overflow: hidden;
    height: 100%;
    position: fixed
}

main.blur-main {
    filter: blur(3px)
}

.nav-menu svg {
    height: 16px;
    width: 16px
}

.nav-menu li.nav-menubar {
    display: none;
    align-items: center;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    height: 2.25rem;
    width: 100%;
}

.home,
.projetos,
.tecnologias {
    background-color: #27272a;
}

.home a, .projetos a, .tecnologias a {
    color: var(--selected-page);
}
.home svg, .projetos svg, .tecnologias svg {
    stroke: var(--selected-page);
}

.dropdown-div,
.dropdown-ul {
    display: inline-flex;
    flex-direction: column;
}

.nav-menu li {
    width: fit-content;
    height: fit-content;
    padding: 10px
}

li.nav-item:first-child img {
    margin-left: .2rem
}

.dropdown-div {
    position: absolute;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    top: 80px;
    background-color: #000;
    width: 300px;
    height: fit-content;
    padding: var(--small-distance-width);
    transition: visibility .2s ease-in, opacity .2s ease-in;
    visibility: hidden;
    opacity: 0;
    z-index: 23
}

.dropdown-div.active {
    visibility: visible;
    opacity: 1
}

li.dropdown-li {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    margin-left: 0
}

.dropdown-li:last-child {
    margin-bottom: 0
}

.btn-click {
    display: inline-flex;
    cursor: pointer;
    padding: 0;
    min-width: 1em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    outline: 0;
    will-change: transform;
}

.btn-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    will-change: transform;
}

.btn-click:hover .code-by {
    transform: translate(-63px, 0.6px) !important;
}

.btn-click:hover .adriel {
    transform: translate(-60px, 0.6px) !important;
}

.btn-click:hover .credit {
    transform: rotate(360deg);
}

.cbd {
    position: relative;
    overflow: hidden;
}

.credit {
    padding-right: .3em;
    transition: transform 0.5s ease-in-out;
}

.adriel {
    position: relative;
    display: inline-block;
    padding-left: .05em;
}

.code-by {
    position: relative;
    display: inline-block;
}

.adriel,
.code-by {
    transition: transform 0.3s ease-in-out;
}

.oliveira {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateX(2.95em);
    white-space: nowrap;
}


#search {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: transparent;
    height: 2.25rem;
    padding-left: 1rem;
    color: white;
    margin: 15px 0 15px 0
}



.language-pinned {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.eclipse-language {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.eclipse-language.javascript {
    background-color: var(--yellow-color);
}

.eclipse-language.css {
    background-color: #563D7C;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.star img {
    width: 100%;
    height: auto;
}

.container-pinned {
    display: flex;
    gap: var(--small-distance-width);
    flex-wrap: wrap;
}

.box-pinned {
    border: 1px solid var(--border-color);
    padding-top: var(--small-distance-height);
    padding-left: var(--small-distance-width);
    padding-right: var(--small-distance-width);
    padding-bottom: var(--small-distance-height);
    border-radius: 12px;
    flex-grow: 1;
    flex-basis: 280px;
}


.title-privacy {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--small-distance-height) / 4);
}

.privacy {
    border: 1px solid var(--border-color);
    color: #B7BDC8;
    border-radius: 20px;
    width: fit-content;
    width: 40px;
    height: 15px;
    padding: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
}

.privacy p {
    font-size: 12px;
}

.container-pinned .title-pinned {
    color: #74B9FF;
    text-decoration: none;
}

.container-pinned .title-pinned:hover {
    text-decoration: underline;
}



.description-pinned {
    margin-bottom: calc(var(--small-distance-height) / 4);
    height: 60px;
    font-size: 14px;
}

.description-pinned,
.name-language-pinned {
    color: var(--gray-color);
}

.eclipse-language {
    margin-right: 4px;
}

.star {
    margin-left: 8px;
    cursor: pointer;
}

.curtidas {
    background: url("assets/star.svg") no-repeat center;
    background-size: contain;
    border: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
}

.cont-curtidas {
    margin-left: 4px;
    font-size: 12px;
    color: var(--gray-color);
}

aside {
    width: 18rem;
    height: 100dvh;
    position: fixed;
    border-right: 1px solid var(--border-color);
}

@media (max-width: 1498px) {
    aside {
        width: 250px;
    }
}

aside ul li a {
    color: var(--white-color);
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

aside ul {
    display: flex;
    flex-direction: column;
    /* topo | direita | inferior | esquerda */
    margin: 32px 16px 0 16px;
}

aside ul li {
    height: 36px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

aside ul li:hover {
    background-color: #27272a;
}

aside ul li:hover a {
    color: var(--background-color);
}

aside ul li:hover svg {
    stroke: var(--background-color);
}

aside svg {
    width: 14px;
    height: 14px;
    color: white;
    margin-right: 7px;
}

aside p {
    color: var(--white-color);
    font-size: 12px;
}


/* Estado inicial (antes da animação) */
.hidden {
    opacity: 0;
    transform: translateX(-20px);
    will-change: opacity, transform;
}

/* Animação para opacity (sem delay) */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Animação para transform (com delay) */
@keyframes slide-in {
    0% {
        transform: translateX(-25px);
    }

    70% {
        transform: translateX(4px);
        /* Pequeno avanço */
    }

    100% {
        transform: translateX(0);
    }
}

/* Classes aplicadas */
.animate {
    animation: fade-in 0.8s ease forwards, slide-in 0.8s ease forwards;
}

/* toggle theme */
.theme-switch {
    height: fit-content;
    border-top: 1px solid var(--border-color);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.icon-theme {
    width: 20px;
    height: 20px;
}

.py-5{
    padding-top: 1.25rem;
}

.py-2 {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-column {
    flex-direction: column;
}

.h-14 {
    height: 3.5rem;
}

.gap-2 {
    gap: .5rem;
}

.gap-3 {
    gap: .75rem;
}

.justify-between {
    justify-content: space-between;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.select-theme {
    cursor: pointer;
}

.appear-icon {
    display: block;   
    transform: translateY(0px);
    will-change: transform;
}

@keyframes verticalSlideIcon {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

.animateVerticalSlideIcon {
    animation: verticalSlideIcon 0.4s ease forwards;
}

.hidden-icon {
    display: none;
    transform: translateY(-20px);
}

.overflow-hidden {
    overflow: hidden;
}

.appear-icon-select {
    position: absolute;
    right: 20px;
    display: block;
    visibility: visible;
    opacity: 1; /* Começa visível */
    transition: opacity 0.2s ease, visibility 0s 0.2s; /* Transição suave para opacidade */
}

/* Estilos para os ícones invisíveis */
.hidden-icon-select {
    position: absolute;
    right: 20px;
    display: block;
    visibility: hidden;
    opacity: 0; /* Começa invisível */
    transition: opacity 0.2s ease, visibility 0s 0.2s; /* Transição suave para opacidade */
}

@media (max-width: 1384px) {
    aside {
        display: none !important;
    }

    header {
        display: block !important;
    }
}

@media(max-width:768px) {
    aside {
        width: 18rem;
    }

    .flex-col ul.active,
    .hamburguer {
        display: block
    }

    .nav-menu li.nav-menubar {
        margin: 20px 0 0 0px;
        box-sizing: border-box;
        overflow: visible;
        justify-content: flex-start !important;
        align-items: center;
    }

    .nav-menu li.nav-menubar svg {
        margin: 0 calc(var(--small-distance-width)/3) 0 0
    }

    li.nav-menubar-session {
        margin: 0;
        padding: 0 !important;
        color: var(--gray-color)
    }

    .nav-menubar-session:nth-child(8) {
        margin: 20px 0 0
    }

    .nav-menu {
        position: absolute;
        overflow-y: scroll;
        min-height: 0;
        top: 6.4rem;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        flex-direction: column;
        box-sizing: border-box;
        background-color: black;
        width: 100vw;
        /* Garante que o padding não expanda o width */
        transition: min-height .6s ease-in, visibility .6s ease-in;
        z-index: 3;
        padding: 1rem;
        visibility: hidden;
    }

    .nav-menu.active {
        min-height: 350px;
        visibility: visible
    }

    li.nav-item {
        display: none
    }

    .block-buttons {
        flex-flow: column
    }

    .block-buttons a {
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
    }

    .block-buttons a:nth-child(2) {
        margin-left: 0
    }
}