.description-card,
p.description-session,
p.description-session a {
    color: var(--gray-color)
}

.card-projetos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 1.25rem; 
    margin-top: calc(var(--small-distance-height) / 2);
    position: relative;
    width: 100%; 
}

.card-projetos input.image-principal-card {
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 6px;
    width: 100%;
}

.card-projetos a:hover,
.card-projetos input.image-principal-card:hover {
    transform: scale(1.03)
}

.container-card-image {
    display: inline-block;
    height: auto
}

.container-card-projetos {
    width: 21.25rem;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.card-projetos a.visit-button-card,
a.visit-github-button-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: var(--small-distance-height);
    border-radius: 6px;
    font-weight: 600
}

h1.title-myprojects,
p.description-session {
    font-weight: 700;
    margin-bottom: calc(var(--small-distance-height)/2)
}

.card-projetos a.visit-button-card {
    text-decoration: none;
    color: #000;
    transition: transform .5s
}

.card-projetos a.visit-button-card:first-child {
    background-color: var(--white-color);
    color: var(--background-color);
    border: 0;
    margin-right: var(--small-distance-width)
}

.card-projetos a.visit-github-button-card {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--white-color);
    text-wrap: nowrap
}

.card-projetos img {
    --side-length: 20px; 
    width: var(--side-length);
    height: var(--side-length)
}

.buttons-card-projetos {
    display: flex
}

.card-projetos a {
    position: relative;
    padding: .4rem;
    text-decoration: none
}

.card-projetos .visit-button-card svg {
    position: relative;
    margin-right: 8px;
    --side-length: 1.125rem;
    width: var(--side-length);
    height: var(--side-length);
    stroke: var(--svg-color-button);
}

.card-projetos .visit-github-button-card svg {
    position: relative;
    margin-right: 8px;
    --side-length: 1rem;
    width: var(--side-length);
    height: var(--side-length);
    stroke: var(--white-color);
}

.description-card {
    height: 7.5rem;
}

h1.title-myprojects {
    font-size: 1.875rem
}

.container-projetos {
    display: flex;
    flex-direction: column
}

.title-card {
    line-height: 2rem
}


.scrollToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    --side-length: 3.75rem;
    width: var(--side-length);
    height: var(--side-length);
    clip-path: circle(50%);
    background-color: var(--white-color);
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    will-change: transform;
    transition: transform .4s cubic-bezier(0.36, 0, 0.66, 0);
    transform: translateX(50px) scale(0);
    transition: opacity 0.4s ease, transform 0.4s cubic-bezier(0.36, 0, 0.66, 0);
    opacity: 0;
}


.scrollToTop.active {
    opacity: 1;
    transform: translateX(0) scale(1);
}

.scrollToTop.hiddenScrollToTop {
    opacity: 0;
    transform: translateX(50px) scale(0);
}

.scrollToTop svg {
    stroke: var(--background-color);
    --side-length: 1rem;
    width: var(--side-length);
    height: var(--side-length);
}

@media(max-width:854px) {
    .container-card-projetos {
        width: auto;
        position: relative
    }

    .card-projetos input.image-principal-card {
        position: inherit;
        width: 100%;
        height: 300px;
        object-fit: cover
    }

    p.description-card {
        height: auto
    }

    .title-card {
        margin-top: var(--small-distance-height)
    }
}