.rounded,
.rounded-language {
    border-radius: 6px;
    display: flex;
    position: relative
}

.rounded-language {
    background-color: #57575760;
    padding: .5rem;
    align-items: center;
    height: 40px;
    min-width: 150px
}

.rounded-language:hover {
    background: linear-gradient(to left, #fffFFF30, #57575738)
}   

.rounded {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    gap: 5px
}

.grid {
    display: grid
}

.gap-y-2 {
    row-gap: .5rem
}

.gap-x-2 {
    column-gap: .5rem
}

.grid-cols-4 {
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr))
}

.gap-3 {
    gap: calc(var(--small-distance-width)/2)
}

#image {
    width: 25px
}

.description-tech {
    color: var(--gray-color)
}

body.technolog section {
    margin-top: var(--small-distance-height)
}

body.technolog h2 {
    margin-bottom: calc(var(--small-distance-height)/2)
}

body.technolog h1 {
    font-size: 30px
}